$textColorDefault: #999;
$textColorHover: #444;
$textColorActive: #444;


/* BUTTONS */
$backgroundBtnDefault: #DEDEDE;
$backgroundBtnHover: #CCC;
$backgroundBtnActive: #DDD;

$textSizeBtn: 12px;
$textSizeBtnSmall: 9px;
$heightBtn: 36px;
$borderRadius: $heightBtn;
/* BUTTONS */



